<!doctype html>
<html lang="en">
	<head>
		<title>
			MOAC BlockChain Explorer and Search
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="Description" content="Etherscan allows you to explore and search the Ethereum blockchain for transactions, addresses, tokens, prices and other activities taking place on Ethereum (ETH)" />
		<meta name="author" content="moacscan.io" />
		<meta name="keywords" content="MOAC, explorer, search, blockchain, crypto, currency, 墨客, 众链之母, 井通科技, 井底望天, 大国游戏" />
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="/static/assets/plugins/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/static/jss/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="/static/assets/css/pages/profile.css">
		<link rel="stylesheet" href="/static/assets/plugins/scrollbar/src/perfect-scrollbar.css">
		{% block highchart_portal %}
		{% endblock %}
		<link rel="shortcut icon" href="/static/images/favicon2.ico" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin" />
		<link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/assets/css/style-mod.css" />
		<link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css" />
		<link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="header navbar navbar-default" style="height:100px;" fole="navigation">
				<script>
					$(function () {
					  var vmSearchMobile = new Vue({
						  el: '#search-form-mobile',
						  data: { txtSearchInputMobile: '' },
						  methods: {
							submit: function() {
								location.assign(`/api/search/${this._data.txtSearchInputMobile}`);
							}
						  }
					  });
					});
				</script>
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><h1>MOACscan</h1></a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a target="_blank" href="/api/search">Blocks</a></li>
							<li><a target="_blank" href="/api/search">Transactions</a></li>
							<li><a target="_blank" href="/api/search">Subchains</a></li>
							<li><a href="/static/html/pool.html">Minings</a></li>
						</ul>
					</div>
				</div>
				<div id="search-form-mobile" style="margin-top:40px;margin-bottom:0;">
					<input id="txtSearchInputMobile" v-model="txtSearchInputMobile" v-on:keyup.enter="submit" type="text" placeholder="Search for Account, Tx Hash or Data" class="form-control" style="text-align: center;" name="q" maxlength="100" title="Address, Contract, Txn Hash or Data" />
				</div>
			</div>
			<!-- /header -->
			<!-- /mobilesearch -->
			{% block main %}
			<div class="profile container-fluid " style="margin-top: 0px">
				{% block main_row %}
				<div class="row">
					<div>
						<div class="profile-body">
							{% block main_row_graphs %}
							{% endblock %}
							<br />
							{% block main_block_tx %}
							<div class="row margin-bottom-40">
								<div class="col-sm-6 sm-margin-bottom-20">
									<div class="panel panel-profile no-bg">
										<div class="panel-heading overflow-h">
											<h2 class="panel-title heading-sm pull-left"><i class="fa fa-cubes"></i>Blocks</h2>
											<a href="/api/block" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right">View All</a>
										</div>
										{% block main_block %}
										{% endblock %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="panel panel-profile no-bg">
										<div class="panel-heading overflow-h">
											<h2 class="panel-title heading-sm pull-left"><i class="fa fa-list-alt "></i>Transactions</h2>
											<span style="color: #999999; font-size: 11px; margin-bottom: -20px; padding-bottom: 0px;"></span>
											<a href="/api/tx" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right">View All</a>
										</div>
										{% block main_tx %}
										{% endblock %}
									</div>
								</div>
							</div>
							{% endblock %}
							<span id="ContentPlaceHolder1_lblDefConModeContent"></span>
						</div>
					</div>
				</div>
				{% endblock %}
				<!-- /row -->
			</div>
			{% endblock %}
			<!-- /main -->
			<script type="text/javascript">
				$(function () {
					 $("[rel='tooltip']").tooltip({ html: true });
				});  
			</script>
			<div id="push"></div>
		</div>
		<div class="footer-v1">
			<div class="footer">
				<div class="container-fluid">
					<div class="row">
						<!--
						<div class="col-md-3 map-img md-margin-bottom-40">
							<a href="http://www.ethereum.org" target="_blank" rel="nofollow">
							<img id="logo-footer" class="footer-logo" src="/static/images/Powered-by-Ethereum-small.png" alt=""></a>
							<p style="font-family:'Open Sans',sans-serif; font-size: 12px; color: #C0C0C0;">Etherscan is a Block Explorer and Analytics Platform for Ethereum, a decentralized smart contracts platform.</p>
						</div>
						<div class="col-md-6 md-margin-bottom-40 hidden-xs">
							<div class="headline">
								<h2>Latest Discussions</h2>
								<a href='/comments'><span class="pull-right" style="color: #C0C0C0; margin-top: 8px; ">[View More]</span></a>
							</div>
							<ul class="list-unstyled link-list">
								<li><img src='/static/images/icons/comment-white.png'>&nbsp;&nbsp;<a href='http://etherscan.io/token/0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0#comments'>Any People May be sent 10usd need Money 0x7Da4a84a675b3E...</a><i class="fa fa-angle-right"></i></li>
								<li><img src='/static/images/icons/comment-white.png'>&nbsp;&nbsp;<a href='http://etherscan.io/address/0x61edcdf5bb737adffe5043706e7c5bb1f1a56eea#comments'>Need Money no Big only 100 usd May be send any one my ad...</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
						<div class="col-md-3 md-margin-bottom-40">
							<div class="headline">
								<h2>Links</h2>
							</div>
							<address class="md-margin-bottom-40">
								<table>
									<tr>
										<td><i class="fa fa-envelope"></i>&nbsp;</td>
										<td>&nbsp;<a href="/contactus">Contact Us</a></td>
									</tr>
									<tr>
										<td><i class="fa fa-reddit-square"></i></td>
										<td>&nbsp;<a href="https://www.reddit.com/r/etherscan/" target="_blank">Forum</a></td>
									</tr>
								</table>
							</address>
						</div>
						-->
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<p><a target="_blank" href="https://moacscan.daszichan.com">Website</a> - <a target="_blank" href="https://github.com/moactum/moacscan">GitHub</a> - <a target="_blank" href="https://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000/001472794708264206fcf1589bb43caa0395752aa26538c000">revised from 廖雪峰</a></p>
						<p><strong>donation:</strong> 0x515710900f459aabf340E8921AD25a86B72E128a</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/static/js/vue.min.js"></script>
		<script type="text/javascript" src="/static/js/vue2-filters.min.js"></script>
		<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<!--<script type="text/javascript" src="/static/assets/combine-js-bottom.js"></script>-->
		<link rel="Stylesheet" href="/static/css/jquery-ui.min.css" type="text/css" />
	</body>
</html>
