<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Description" content="Etherscan allows you to explore and search the Ethereum blockchain for transactions, addresses, tokens, prices and other activities taking place on Ethereum (ETH)" />
		<meta name="author" content="daszichan.com" />
		<meta name="keywords" content="MOAC, Sharding, Smart Contract, SubChain, MicroChain, explorer, JingtumTech, blockchain, crypto, currency, 墨客, 分层, 智能合约, 子链, 众链之母, 井通科技, 井底望天, 大国游戏" />
		<title>MOACscan</title>
		<link rel="stylesheet" href="https://moacscan.daszichan.com/static/css/foundation.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin" />
		<link rel="stylesheet" href="https://moacscan.daszichan.com/static/css/app20180605.css">

		<link rel="shortcut icon" href="/static/images/favicon2.ico" />
	</head>
	<body>
		<div class="top-bar-container" data-sticky-container>
			<div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
				<!-- mobile nav bar -->
				<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
					<div class="title-bar-left">
						<div class="title-bar-title"><img src="https://moacscan.daszichan.com/static/images/moac_logo.png" alt="MOACSCAN" /></div>
					</div>
					<div class="title-bar-right">
						<button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
					</div>
				</div>
				<!-- /mobile nav bar -->
			
				<!-- medium and larger nav bar -->
				<div class="top-bar topbar-center-logo text-bold" id="topbar-center-logo">
					<div class="top-bar-left">
						<ul class="menu vertical medium-horizontal">
							<li><a href="https://moacscan.daszichan.com/#Resources">Resources</a></li>
							<li><a href="https://moacscan.daszichan.com/#Market">CoinMarket</a></li>
							<li><a href="https://moacscan.daszichan.com/public/moac/address/?is_contract__exact=0">Wallets</a></li>
						</ul>
					</div>
					<div class="top-bar-center">
						<a href="https://moacscan.daszichan.com"><img src="https://moacscan.daszichan.com/static/images/moac_logo.png" alt="MOACSCAN" /></a>
					</div>
					<div class="top-bar-right">
						<ul class="menu vertical medium-horizontal">
							<li><a href="https://moacscan.daszichan.com/public/moac/ledger/">Blocks</a></li>
							<li><a href="https://moacscan.daszichan.com/public/moac/transaction/">Transactions</a></li>
							<li><a href="https://moacscan.daszichan.com/public/moac/address/?is_contract__exact=1">Apps</a></li>
						</ul>
					</div>
				</div>
				<!-- /medium and larger nav bar -->
			</div>	
		</div>
			<!-- /header -->
		<div id="search-form-mobile" style="" class="">
			<input id="txtSearchInputMobile" v-model="txtSearchInputMobile" v-on:keyup.enter="submit" type="text" placeholder="Search for Account, Tx Hash or Data" class="form-control" style="text-align: center;" name="q" maxlength="100" title="Address, Contract, Txn Hash or Data" />
		</div>
			<!-- /mobilesearch -->
		<div class="grid-container full">
			{% block main %}
			<div class="grid-x">
				{% block main_row %}
				<div class="cell">
					<div>
						<div class="grid-x grid-margin-x">
							{% block main_block_tx %}
							<div class="cell medium-6">
									<div class="card">
										<div class="card-divider">
											<h4><i class="fa fa-cubes"></i>Blocks</h4>
										</div>
										{% block main_block %}
										{% endblock %}
									</div>
							</div>
							<div class="cell medium-6">
									<div class="card">
										<div class="card-divider">
											<h4><i class="fa fa-list-alt "></i>Transactions</h4>
										</div>
										{% block main_tx %}
										{% endblock %}
								</div>
							</div>
							{% endblock %}
							<span id="ContentPlaceHolder1_lblDefConModeContent"></span>
						</div>
					</div>
				</div>
				{% endblock %}
				<!-- /row -->
			</div>
			{% endblock %}
		</div>
			<!-- /main -->
		</div>

		<script src="https://moacscan.daszichan.com/static/js/vendor/jquery.js"></script>
		{% block vuejs %}
		<script type="text/javascript" src="/static/js/vue.js"></script>
		<script type="text/javascript" src="/static/js/vue2-filters.min.js"></script>
		{% endblock %}
		<script src="https://moacscan.daszichan.com/static/js/vendor/what-input.js"></script>
		<script src="https://moacscan.daszichan.com/static/js/vendor/foundation.js"></script>
		<script src="https://moacscan.daszichan.com/static/js/app20180605.js"></script>
		<script>
			$(function () {
			  var vmSearchMobile = new Vue({
				  el: '#search-form-mobile',
				  data: { txtSearchInputMobile: '' },
				  methods: {
					submit: function() {
						location.assign(`/api/search/${this._data.txtSearchInputMobile}`);
					}
				  }
			  });
			});
		</script>
	</body>
</html>
