{% extends "base.html" %}

										{% block main_block %}
										<script> var ws = new WebSocket('{{ ws_proto }}://' + location.host + '/ws/moac'); </script>
										{% raw %}
										<div id="scrollbar2" class="card-section height-75" style="height:70%;overflow-x:hidden; overflow-y:scroll;">
											<div v-for="msg in messages">
											<div class="callout">
												<p><span><a :href="'/api/block/' + msg.data.block.number">Block {{ msg.data.block.number }}</a></span>&nbsp;&nbsp;{{ msg.data.block.timestamp }}&nbsp;&nbsp;{{ msg.data.block.transactions.length }} txns</p>
											<p class="">{{ msg.data.block.hash }}</p>
											
											<p>Mined By <a :href="'/api/address/' + msg.data.block.miner" class='address-tag'>{{ msg.data.block.miner }}</a></p>
											</div>
											</div>
										</div>
										{% endraw %}
										{% endblock %}

										{% block main_tx %}
										{% raw %}
										<div id="scrollbar" class="card-section height-75" style="height:70%;overflow-x:hidden; overflow-y:scroll;">
											<div v-for="tx in txs">
											<div class="callout">
												<p><a :href="'/api/tx/' + tx.hash" title="Transaction Hash">{{ tx.hash }}</a></p>
												<p>From <a :href="'/api/address/' + tx.from">{{ tx.from | truncate }}</a> To <a :href="'/api/address/' + tx.to">{{ tx.to | truncate }}</a></p>
												<p>Amount {{ tx.value / 1e18 }} MOAC</p>
											</div>
											</div>
										</div>
										{% endraw %}
										{% endblock %}
		{% block vuejs %}
		<script type="text/javascript" src="/static/js/vue.js"></script>
		<script type="text/javascript" src="/static/js/vue2-filters.min.js"></script>
		<script type="text/javascript" src="/static/jss/homevue.js"></script>
		{% endblock %}
