{% extends "base.html" %}

		{% block highchart_portal %}
		<script type="text/javascript">
			$(function () {
				 $('#containerchart').highcharts({
					  chart: {
							type: 'line',
							spacingBottom: 0,
							spacingTop: 0,
							spacingLeft: 0,
							spacingRight: 0,
					  },
					  legend: {
							enabled: false
					  },
					  exporting: {
							enabled: false
					  },
					  credits: {
							enabled: false
					  },
					  title: {
							text: '14 day Ethereum Transaction History',
							style: {
								 fontSize: '13px'
							}
					  },
					  xAxis: {
							title: { text: '' },
							categories: [
								 '4/5','4/6','4/7','4/8','4/9','4/10','4/11','4/12','4/13','4/14','4/15','4/16','4/17','4/18',
							]
					  },
					  yAxis: {
							labels: {
								 enabled: true
							},
							title: {
								 text: null
							}
					  },
					  
					  tooltip: {
							formatter: function () {
								 return '<span style="font-size:10px">' + this.point.friendlydate + '</span><br><table><tr><td style="padding:0">' +
										  '<span style="color:' + this.series.color + '">Transactions: </a></span><b>' + this.point.y + '</b><br>'									  
										  '</td></tr></table>';
							}
					  },
					  plotOptions: {
							series: {
								 animation: {
											duration: 0
								 },
								 point: {
									  events: {
											select: function (e) {
												 location.href = 'txs?dt=' + this.options.dt;
											}
									  }
								 }
							},
							column: {
								 pointPadding: 0.1,
								 borderWidth: 0
							}
					  },
					  series: [{
							name: 'Transactions',
							data: [{y : 695871, dt : '1522886400', friendlydate : 'Thu 5, Apr 2018',  },{y : 647981, dt : '1522972800', friendlydate : 'Fri 6, Apr 2018',  },{y : 535865, dt : '1523059200', friendlydate : 'Sat 7, Apr 2018',  },{y : 595733, dt : '1523145600', friendlydate : 'Sun 8, Apr 2018',  },{y : 609799, dt : '1523232000', friendlydate : 'Mon 9, Apr 2018',  },{y : 571388, dt : '1523318400', friendlydate : 'Tue 10, Apr 2018',  },{y : 609102, dt : '1523404800', friendlydate : 'Wed 11, Apr 2018',  },{y : 692606, dt : '1523491200', friendlydate : 'Thu 12, Apr 2018',  },{y : 730344, dt : '1523577600', friendlydate : 'Fri 13, Apr 2018',  },{y : 611188, dt : '1523664000', friendlydate : 'Sat 14, Apr 2018',  },{y : 619985, dt : '1523750400', friendlydate : 'Sun 15, Apr 2018',  },{y : 664402, dt : '1523836800', friendlydate : 'Mon 16, Apr 2018',  },{y : 742823, dt : '1523923200', friendlydate : 'Tue 17, Apr 2018',  },{y : 703293, dt : '1524009600', friendlydate : 'Wed 18, Apr 2018',  },],
							allowPointSelect: true,
					  },
					  ]
				 });
			});
		</script>
		{% endblock %}
							{% block main_row_graphs %}
							<div id="ContentPlaceHolder1_mainboxes" class="row margin-bottom-10">
								<div class="col-sm-6 sm-margin-bottom-20">
									<div class="service-block-v3 service-block-blue">
										<i class="icon-globe" style="margin-right:16px"></i>
										<span class="service-heading" rel='tooltip' data-placement='right' title='View More'><a href="/stat/supply"><font size=2 color='white'>MARKET CAP OF $53.059 Billion</font></a></span>
										<h4 style="margin-top:2px"><font color='white'><font color='white'>$536.45 @ 0.06518 BTC/ETH <font color='#0ADC00' size='2' rel='tooltip' data-placement='bottom' title='USD/Eth change'> (<b>+</b>6.08%)</font></font></font></h4>
										<div class="clearfix margin-bottom-5 "></div>
										<div class="row margin-bottom-20">
											<div class="col-xs-6 service-in">
												<small><a href="blocks" rel='tooltip' data-placement='right' title="View List of Blocks"><font color="white">Last Block</font></a></small>
												<h4 style="color: #FFFFFF"><span id="ContentPlaceHolder1_Label1" style="font-size:Larger;"><a href="blocks" rel='tooltip' data-placement='bottom' title="The latest block no"><font color="white">5466109</font></a></span>
													<span class='hidden-xs' rel='tooltip' data-placement='right' title='Avg Block Time of the latest 5000 blocks'><font size=2> (14.5s)</font></span>
												</h4>
											</div>
											<div class="col-xs-6 text-right service-in">
												<small><a href="txs" rel='tooltip' data-placement='left' title="View List of Transactions"><font color="white">Transactions</font></a></small>
												<h4><a href='/txs' rel='tooltip' data-placement='left' title='Total Txns counter<br>(updated every 5 mins)'><font color='white'>205.18 M</font></a><span class='hidden-xs' rel='tooltip' data-placement='bottom' title='Txns per sec'><font size=2> (7.4 TPS)</font></span></h4>
											</div>
										</div>
										<div class="statistics">
											<h3 class="heading-xs"><a href="/chart/hashrate" rel='tooltip' data-placement='right' title="View HashRate Chart"><font color="white">Hash Rate</font></a>
												<a href="/chart/difficulty" class="pull-right" rel='tooltip' data-placement='left' title="View Difficulty Growth Chart"><font color="white">Network Difficulty</font></a>
											</h3>
											<font color="white"><span rel='tooltip' data-placement='bottom' title='Avg Hash Rate of the last 12 Hours'>249,657.05 GH/s</span>&nbsp;</font>
											<span class="pull-right" rel='tooltip' data-placement='bottom' title="Average Difficulty"><font color=white>3,051.02 TH</font></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="tag-box tag-box-v2 box-shadow shadow-effect-1" style="border-right-color: #3498db; border-right-style: solid; border-right-width: 2px; margin-bottom: 0px; background-color: #FFFFFF;">
										<div id="containerchart" style="min-width: 255px; height: 180px; margin: 0 auto"></div>
										<script src="/static/highcharts/js/highcharts.js"></script>
									</div>
								</div>
							</div>
							<script>
							function addMessage(list, msg) {
								list.unshift(msg);
								$('#message-list').parent().animate({
									scrollTop: $('#message-list').height()
								}, 1000);
							}
							function addTxs(list, msg) {
								msg.data.block.transactions.forEach( tx => list.unshift(tx) );
								$('#tx-list').parent().animate({
									scrollTop: $('#tx-list').height()
								}, 1000);
							}
							
							$(function () {
								var vmMessageList = new Vue({
									el: '#scrollbar2',
									data: {
										messages: []
									},
									methods: {
										block: function (msg) {
											window.open(`/api/block/${msg.data.block.hash}`);
										}
									}
								});
								var vmTxList = new Vue({
									el: '#scrollbar',
									data: {
										txs: []
									},
									methods: {
										transaction: function (tx) {
											window.open(`/api/tx/${tx}`);
										},
									}
								});
							
								var ws = new WebSocket('{{ ws_proto }}://' + location.host + '/ws/moac');
								var ws_conncted = true;
							
								ws.onmessage = function(event) {
									var data = event.data;
									console.log("received new websocket message");
									var msg = JSON.parse(data);
									if (msg.type === 'datafeed') {
										if (msg.data.block) {
											addMessage(vmMessageList.messages, msg);
											addTxs(vmTxList.txs, msg);
										}
									}
								};
								ws.onclose = function (evt) {
									console.log('[closed] ' + evt.code);
									ws_connected = false;
								};
								ws.onerror = function (code, msg) {
									console.log('[ERROR] ' + code + ': ' + msg);
									ws_connected = false;
								};
							});
							</script>
							{% endblock %}

										{% block main_block %}
										{% raw %}
										<div id="scrollbar2" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark" style="height: 580px; overflow-x:hidden; overflow-y:scroll;">
											<div v-for="msg in messages">
											<div class="profile-event">
												<div class="date-formats" style='width: 135px; height: 65px; margin-top:2px'><span><a href='/api/block/{{ msg.data.block.number }}'><font size="2" color='white'>Block {{ msg.data.block.number }}</font></a></span><small>{{ msg.data.block.timestamp }}</small></div>
												<div class="overflow-h">
													<p>Mined By <a href='/api/address/{{ msg.data.block.miner }}' class='address-tag'>{{ msg.data.block.miner }}</a></p>
													<p><a href="/api/txs/{{ msg.data.block.number }}" title="Transactions in this Block"><b>{{ msg.data.block.transactions.length }} txns</b></a></p>
													<p> {{ msg.data.block.hash }} </p>
												</div>
											</div>
											</div>
										</div>
										{% endraw %}
										{% endblock %}

										{% block main_tx %}
										{% raw %}
										<div id="scrollbar" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark" style="height: 580px; overflow-x:hidden; overflow-y:scroll;">
											<div v-for="tx in txs">
											<div class="profile-post color-one">
												<span class="profile-post-numb"><i class="fa fa-hdd-o"></i></span>
												<div class="profile-post-in">
													<h3 class="heading-xs">TX# <a href="/api/tx/{{ tx.hash }}" class='hash-tag-frontpage' title="Transaction Hash"><font color='#3498db'>{{ tx.hash | truncate }}</font></a><span class="pull-right" style="font-size: small">{{ tx.timestamp }}</span></h3>
													<p>From <a href='/api/address/{{ tx.from }}' class='address-tag'>{{ tx.from | truncate }}</a> To <a href='/api/address/{{ tx.to }}' class='address-tag'>{{ tx.to | truncate }}</a></p>
													<p>Amount {{ tx.value / 1e18 }} MOAC</p>
												</div>
											</div>
											</div>
										</div>
										{% endraw %}
										{% endblock %}
